<div ng-controller="shiftCypherCtrl">
	<h3>Type a sentence and it will be converted to ASCII, then binary</h3>

	<div ng-model="charFreq" ng-init="offset=0">
		<form name="shiftCypher">
			<label><input type="text" size="10" ng-model="offset" ng-change="charFrequency(asciiCode(textCode, offset))" />Offset</label>
			</br>
			<input type="text" size="60" ng-model="textCode" ng-change="asciiCode(textCode, offset); charFrequency(codeArray);" />
		</form>

		<h3>Caesar Cypher</h3>
		<p>{{codeArray.join('')}}</p>
		<br/>

		<h3>Shift Cypher Letter Frequency</h3>
		<br/>
		<d3-bars data="charFreq" fill="blue"></d3-bars>
		<br/>
	</div>

	<h3>English Language Letter Frequency</h3>
	<br/>
	<d3-bars data="englishFreq" fill="red"></d3-bars>
	<br/>
</div>